
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background: url(../../public/imgs/git_project_background.jpg) no-repeat;
    height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 20px;
    color: white;
    font-weight: 800;
    margin: 0 20px;
}

.logo {
    font-size: 20px;
    color: white;
    font-weight: 800;
    margin: 0 20px;
}

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-page {
    position: relative;
    padding: 60px 20px;
    height: 100vh;
}

.sub-title {
    font-family: Fontfabric nexa rust sans shadow,sans-serif;
    font-size: 16px;
}

h1, p, .parrafo{
    display: flex;
    justify-content: center;
}

.parrafo {
    display: flex;
    padding-top: 10px;
    text-align: center;
}

.cards {
    margin: 18px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    border: 1px solid #000000;
    padding: 10px;
}

.image-card{
    display: flex;
    justify-content: center;
}

.image-card img {
    padding-top: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.info-card {
    padding-top: 15px;
    font-family: "Fontfabric nexa rust sans 01,sans-serif";
    font-size: 20px;
}

.star-calification {
    padding: 0;
}

.star-calification img {
    width: 100px;
    padding: 0 0 0 10px;
}